extends _layout/layout

block variables
	- var title = 'Trả góp'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	//- //- .owl-carousel
	//- //- 	span ahscbabcabciaícnháibci
	//- //- 	span ahscbabcabciaícnháibci
	//- //- 	span ahscbabcabciaícnháibci
	//- //- 	span ahscbabcabciaícnháibci
	//- //- 	span ahscbabcabciaícnháibci
	//- //- 	span ahscbabcabciaícnháibci

	section.home_installment
		.container.home_form_width
			.row
				.col
					h1 Tool trả góp
					.form-group.row
						.col
							.title-page.title-xam
								h2 Input
							.row
								.col-12
									label(for="so_thang") Số tháng
									input.form-control(type="text" placeholder="tháng" id="so_thang")
								.col-12
									label(for="tra_truoc") Trả trước
									input.form-control(type="text" placeholder=".đ" id="tra_truoc")
								.col-12
									label(for="lai_suat") Lãi suất
									input.form-control(type="text" placeholder="%" id="lai_suat")
								.col-12
									label(for="giay_to") Giấy tờ
									select.form-control(id="gt")
										option(value="1") CMND + Sổ hộ khẩu
										option(value="2") CMND + Bằng lái xe/Sổ hộ khẩu
										option(value="3") CMND + Sổ hộ khẩu + Hóa đơn điện
										option(value="4") CMND + Bằng lái xe/Sổ hộ khẩu + Hóa đơn điện
								.col-12
									label(for="gop_thang") Số tiền góp hằng tháng
									input.form-control(type="text" placeholder=".đ" id="gop_thang")
								.col-12
									.row
										.col-4
											label(for="cttc") Công ty tài chính:
										.col-4.form_cttc
											label.hom(for="hom")
												b HomeCredit
											input.form-control(type="radio" name="cttc" id="hom" value="HomeCredit" checked)
										.col-4.form_cttc
											label.fec(for="fecr")
												b FeCredit
											input.form-control(type="radio" name="cttc" id="fecr" value="FeCredit" )
								.col-12
									.row
										.col-6
											input.form-control(type="submit" id="sub" value="Output")
										.col-6
											input.form-control(type="reset" id="reset" value="Reset")
						.col
							.title-page.title-xam
								h2 Output
							text.form-control.out(id="form_output")
